<?xml version="1.0" ?>

<robot name="dasautonomeauto" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- =============== Link & Joint =============== -->
  <!-- Base Footprint -->

    <xacro:arg name="gpu" default="false"/>
    <xacro:property name="gpu" value="$(arg gpu)" />

    <xacro:include filename="$(find sdv_description)/urdf/wheels_sdv.xacro" />
    <xacro:include filename="$(find sdv_description)/urdf/VLP-32.xacro"/>


  <!-- Robot mechanical and motor parameters -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="wheel_width" value="0.175" />
  <xacro:property name="clearance" value="${0.3/2.0}" />

      <!--  BASE FOOTPRINT  -->
  <link name="base_footprint"/>
  <joint name="base_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.5"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 1.3" rpy="0 0 -1.5704" />
      <geometry>
        <mesh filename="file://$(find sdv_description)/meshes/sdv.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 1.3" rpy="0 0 -1.5704" />
      <geometry>
        <mesh filename="file://$(find sdv_description)/meshes/sdv.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="125.0" />
      <origin xyz="0 0 0" />
      <inertia  ixx="1.391" ixy="0.004"  ixz="0.0"  iyy="6.853"  iyz="0.0"  izz="6.125" />
    </inertial>
  </link>

  <!-- FRONT WHEELS -->
  <xacro:front_wheel_to_base lr_prefix="left" fr_prefix="front" lr_reflect="1" fr_reflect="1" />
  <xacro:front_wheel_to_base lr_prefix="right" fr_prefix="front" lr_reflect="-1" fr_reflect="1" />
  <xacro:rear_wheel_to_base  lr_prefix="left" fr_prefix="rear" lr_reflect="1" fr_reflect="1" />
  <xacro:rear_wheel_to_base  lr_prefix="right" fr_prefix="rear" lr_reflect="-1" fr_reflect="1" />

  <!-- =============== Transmission =============== -->
  <transmission name="right_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_rear_axle">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>30</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_rear_axle">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>30</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- =============== Gazebo =============== -->

  <gazebo reference="base_link">
    <selfCollide>false</selfCollide>
    <mu1 value="0.05"/>
    <mu2 value="0.05"/>
  </gazebo>
  <gazebo reference="left_front_axle">
    <selfCollide>false</selfCollide>
    <mu1 value="0.8"/>
    <mu2 value="0.8"/>
    <kp value="100000.0"/>
    <kd value="10.0"/>
  </gazebo>
  <gazebo reference="right_front_axle">
    <selfCollide>false</selfCollide>
    <mu1 value="0.8"/>
    <mu2 value="0.8"/>
    <kp value="100000.0"/>
    <kd value="10.0"/>
  </gazebo>
  <gazebo reference="left_rear_axle">
    <selfCollide>false</selfCollide>
    <mu1 value="0.8"/>
    <mu2 value="0.8"/>
    <kp value="100000.0"/>
    <kd value="10.0"/>
  </gazebo>
  <gazebo reference="right_rear_axle">
    <selfCollide>false</selfCollide>
    <mu1 value="0.8"/>
    <mu2 value="0.8"/>
    <kp value="100000.0"/>
    <kd value="10.0"/>
  </gazebo>

  <gazebo reference="left_steering_joint">
    <selfCollide>false</selfCollide>
    <mu1 value="0.05"/>
    <mu2 value="0.05"/>
  </gazebo>
  <gazebo reference="right_steering_joint">
    <selfCollide>false</selfCollide>
    <mu1 value="0.05"/>
    <mu2 value="0.05"/>
  </gazebo>

  <!-- =============== Ackermann =============== -->
  <gazebo>

    <plugin name="gazebo_ros_ackermann_drive" filename="libgazebo_ros_ackermann_drive.so">

      <ros>
        <!-- <namespace></namespace> -->
        <remapping>cmd_vel:=cmd_vel</remapping>
        <remapping>odom:=odom</remapping>

      </ros>

      <update_rate>100.0</update_rate>

      <!-- wheels -->
      <front_left_joint>left_front_axle</front_left_joint>
      <front_right_joint>right_front_axle</front_right_joint>

      <rear_left_joint>left_rear_axle</rear_left_joint>
      <rear_right_joint>right_rear_axle</rear_right_joint>

      <left_steering_joint>left_steering_joint</left_steering_joint>
      <right_steering_joint>right_steering_joint</right_steering_joint>

      <!-- Max absolute steer angle for tyre in radians-->
      <!-- Any cmd_vel angular z greater than this would be capped -->
      <max_steer>1.01</max_steer>

      <!-- Max absolute steering angle of steering wheel -->
      <max_steering_angle>6.85</max_steering_angle>

      <!-- Max absolute linear speed in m/s -->
      <max_speed>20</max_speed>

      <!-- PID tuning -->
    <left_steering_pid_gain>1500 0 1</left_steering_pid_gain>
    <left_steering_i_range>0 0</left_steering_i_range>
    <right_steering_pid_gain>1500 0 1</right_steering_pid_gain>
    <right_steering_i_range>0 0</right_steering_i_range>
    <linear_velocity_pid_gain>1000 0 1</linear_velocity_pid_gain>
    <linear_velocity_i_range>0 0</linear_velocity_i_range>

      <!-- output -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>
      <publish_distance>false</publish_distance>

      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_footprint</robot_base_frame>

    </plugin>

  </gazebo>

  <!-- =============== Velodyne =============== -->
  <xacro:VLP-16 parent="base_link" name="velodyne" topic="/points_raw" hz="10" samples="440" gpu="${gpu}"/>

  <joint name="imu_joint" type="fixed">
    <origin rpy="0 3.141592653589793 0" xyz="0 0 -0.297322"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
  </joint>
  <link name="imu_link">

    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.005"/>
      <inertia ixx="1.67e-8" ixy="0" ixz="0" iyy="1.67e-8" iyz="0" izz="1.67e-8"/>
    </inertial>
  </link>

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>200</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <pose>0 0 0 0 0 0</pose>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu_raw</topicName>
        <update_rate>0</update_rate>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>200.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>base_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
    </sensor>
  </gazebo>

</robot>
